# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [120]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
#both data frames have city
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [121]:
ride_data_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

### Merge the DataFrames

In [122]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [123]:
#  1. Get the total rides for each city type
pyber_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [124]:
sum(pyber_data_df["type"]=="Urban")

1625

In [125]:
sum(pyber_data_df["type"]=="Suburban")

625

In [126]:
sum(pyber_data_df["type"]=="Rural")

125

In [127]:
# Create the Suburban and Rural city DataFrames.
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural

In [128]:
# Create the Suburban and Rural city DataFrames.
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,37.78,2273047151891,12,Suburban

In [129]:
#create data frames grouped by city type
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [130]:
# Import NumPy and the stats module from SciPy.
#import numpy as np
#import scipy.stats as sts

In [147]:
#  1. Get the total rides for each city type
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.head()
rural_ride_counts = rural_ride_count.sum()
print(rural_ride_counts)

125

In [148]:
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count.head()
suburban_ride_counts = suburban_ride_count.sum()
print(suburban_ride_counts)

625

In [149]:
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.head()
urban_ride_counts = urban_ride_count.sum()
print(urban_ride_counts)

1625

In [180]:
# 2. Get the total drivers for each city type HAVING TROUBLE GET THIS CORRECT.  WELL ABOVE WHAT IT SHOULD BE (78) SAME WITH URBAN AND SUBURBAN
# Get the number of drivers for rural cities.

rural_driver_sum = rural_cities_df.groupby(["city"]).sum()["driver_count"]
#rural_driver_sum.head(18)
rural_driver_sum.sum()

18

In [167]:
suburban_driver_sum = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
#suburban_driver_sum.head()
suburban_driver_sum.sum()

36

In [118]:
urban_driver_sum = urban_cities_df.groupby(["city"]).sum()["driver_count"]
#urban_driver_sum.head()
urban_driver_sum.sum()

59602

In [152]:
#  3. Get the total amount of fares for each city type
rural_fare_sum = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_fare_sum.head()
total_rural_fare = rural_fare_sum.sum()
print(total_rural_fare)

4327.93

In [153]:
suburban_fare_sum = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_fare_sum.head()
total_suburban_fare = suburban_fare_sum.sum()
print(total_suburban_fare)

19356.33

In [154]:
urban_fare_sum = urban_cities_df.groupby(["city"]).sum()["fare"] 
urban_fare_sum.head()
total_urban_fare = urban_fare_sum.sum()
print(total_urban_fare)

39854.38000000001

In [155]:
#  4. Get the average fare per ride for each city type. 
#print(f"The mean for the fare for urban trips is {mean_avg_urban_fare:.2f}.")
rural_avg_fare = rural_fare_sums / rural_ride_counts
print(f"the average fare per ride rural is ${rural_avg_fare:.2f}.")

the average fare per ride rural is $34.62.

In [160]:
suburban_avg_fare = total_suburban_fare / suburban_ride_counts
print(f"the average fare per ride suburban is ${suburban_avg_fare:.2f}.")

the average fare per ride suburban is $30.97.

In [161]:
urban_avg_fare = total_urban_fare / urban_ride_counts
print(f"the average fare per ride rural is ${urban_avg_fare:.2f}.")

the average fare per ride rural is $24.53.

In [163]:
# 5. Get the average fare per driver for each city type. 
#need to fix drivers
avg_rural_driver_fare = rural_avg_fare / rural_driver_sum
avg_rural_driver_fare.head()

city
Bradshawfurt      0.494621
Garzaport         1.648735
Harringtonfort    1.442643
Jessicaport       5.770573
Lake Jamie        1.442643
Name: driver_count, dtype: float64

In [165]:
#need to fix drivers
avg_suburban_driver_fare = suburban_avg_fare / suburban_driver_sum
avg_suburban_driver_fare.head()

city
Barronchester    0.175967
Bethanyland      0.078207
Brandonfort      0.163001
Colemanland      0.061206
Davidfurt        0.079207
Name: driver_count, dtype: float64

In [76]:
#need to fix drivers
avg_urban_driver_fare = urban_fare_sum / urban_driver_sum
avg_urban_driver_fare.head()

city
Amandaburgh        2.053472
Barajasview        0.974318
Carriemouth        0.544509
Christopherfurt    0.597606
Deanville          0.527401
dtype: float64

In [185]:
#  6. Create a PyBer summary DataFrame. 
# might need to use each city type _df?
Ride_Data = pd.pyber_summary_df ({
    'rural': rural_ride_counts, rural_driver_sum, total_rural_fare, avg_rural_fare, avg_rural_driver_fare
    'suburban': suburban_ride_counts, suburban_driver_sum, total_suburban_fare, avg_suburban_fare, avg_suburban_driver_fare
    'urban':urban_ride_counts, urban_driver_sum, total_urban_fare, avg_urban_fare, avg_urban_driver_fare
    }
)

SyntaxError: invalid syntax (<ipython-input-185-eac98e54ff65>, line 4)

In [184]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

NameError: name 'pyber_summary_df' is not defined

In [77]:
#  8. Format the columns.
pyber_summary_df.head()
format_pybersummary_df = "{:.2f}".format(format_pybersummary_df)

NameError: name 'pyber_summary_df' is not defined

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

In [ ]:
#ready to use saved images code

#plt.savefig("/Users/kylesherry/Desktop/Analytics_Bootcamp/Module_5_Matplotlib/PyBer_Analysis/Fig8.png")
#plt.savefig("/Users/kylesherry/Desktop/Analytics_Bootcamp/Module_5_Matplotlib/PyBer_Analysis/Fig9.png")
#plt.savefig("/Users/kylesherry/Desktop/Analytics_Bootcamp/Module_5_Matplotlib/PyBer_Analysis/Fig10.png")
#plt.savefig("/Users/kylesherry/Desktop/Analytics_Bootcamp/Module_5_Matplotlib/PyBer_Analysis/Fig11.png")

In [65]:
#mean_avg_urban_fare = np.mean(avg_urban_fare)
#print(f"The mean for the fare for urban trips is {mean_avg_urban_fare:.2f}.")

The mean for the ride counts for urban trips is 1.22.